NODE_ENV=development
SERVER_URL=http://localhost
SERVER_PATH=/api
SERVER_PORT=5002
SWAGGER_PATH=/docs

JWT_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----"
JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----"

GOOGLE_AI_STUDIO_API_KEY=your_google_ai_studio_api_key
GOOGLE_AI_STUDIO_MODEL=gemini-2.0-flash

DATABASE_URL=http://localhost:8080
DATABASE_AUTH_TOKEN=

LOG_LEVEL=info
LOG_TRANSPORT=pino-pretty

# Rate Limit Config
RATE_LIMIT_MAX=10000
RATE_LIMIT_WINDOW_MS=60000
